 /* 表格样式1 */
 .my-table {
    width: 100%;
    border-collapse: collapse;
    position: relative; /* 添加相对定位，用于定位伪元素 */
    }
    
    .my-table::before,
    .my-table::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black; /* 加粗的边框线颜色 */
    }
    
    .my-table::before {
    top: 0;
    }
    
    .my-table::after {
    bottom: 0;
    }
    
    .my-table th,
    .my-table td {
    padding: 6px;
    text-align: center;
    }
    
    .my-table th:first-child,
    .my-table td:first-child {
    text-align: center;
    }

    .my-table thead tr {
        border-bottom: 1.5px solid black; /* 添加表头底部边框 */
      }
    
    .my-table tr:first-child td {
    border-top: 1 solid black;
    border-bottom: 1.5px solid black;
    }
    
    .my-table tr :nth-child(2),
    .my-table td :nth-child(2) {
    border-left: 1.5px solid black;
    }
    
    /* 设置每一列的宽度 */
    .my-table td:nth-child(1),
    .my-table th:nth-child(1) {
    width: 25%;
    }
  
 /* 表格样式2 */
  .my-table2 {
    width: 100%;
    border-collapse: collapse;
    position: relative; /* 添加相对定位，用于定位伪元素 */
  }
  
  .my-table2::before,
  .my-table2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black; /* 加粗的边框线颜色 */
  }
  
  .my-table2::before {
    top: 0;
  }
  
  .my-table2::after {
    bottom: 0;
  }
  
  .my-table2 th,
  .my-table2 td {
    padding: 6px;
    text-align: center;
  }
  
  .my-table2 th:first-child,
  .my-table2 td:first-child {
    text-align: center;
  }

  .my-table2 thead tr {
    border-bottom: 1.5px solid black; /* 添加表头底部边框 */
  }
  
  .my-table2 tr:first-child td {
    border-top: 1.5 solid black;
    border-bottom: 1.5px solid black;
  }
  
  .my-table2 tr :nth-child(2),
  .my-table2 td :nth-child(2) {
    border-left: 1.5px solid black;
  }
  .my-table2 tr :nth-child(4),
  .my-table2 td:nth-child(4) {
  border-right: 1.5px solid black;
  }

  /* 表格样式3 wav存放 */
  .wav1 {
    width: 80%;
    table-layout: auto; /* 使用自动调整 */
    border-collapse: collapse; /* 移除表格边框 */
    border-spacing: 10px; /* 设置间距为5px */
  }
  .wav1 th,
  .wav1 td {
    text-align: center;
  }
  .wav1 audio {
    display: block;
    margin: 0 auto; /* 居中音频文件 */
  }

 /* 表格样式4 cocktail wav存放 */
 .wav2 {
  width: 100%;
  border-collapse: collapse; /* 移除表格边框 */
  border-spacing: 10px;
}
.wav2 th,
.wav2 td {
  text-align: center;
}
.wav2 audio {
  display: block;
  margin: 0 auto; /* 居中音频文件 */
}


/* 表头居中 */
.table-name {
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
  }

.wavlink {
  text-align: center;
}


.table-container {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

.spacer {
  height: 10px; /* 设置空白元素的高度 */
}

/* 设置段落样式 */
p {
  font-size: 22px;
  font-family: Arial, sans-serif;
  line-height: 1.8;
}

.fit-picture {
  position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%)

}

 .col-md{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
